html {
    height: 100%;
    box-sizing: border-box;
}

body{
    color:#000000;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    background-color: #E5E3E3 !important;
    
}
main {
    height: 100%;
    display: flex;
    max-width: 1100px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #E5E3E3 !important;
    display: block;
    position: inherit;
}

div.name, a.menu-href {
	font-family: "Covered By Your Grace";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #fff;
}

a.menu-href{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 5px;
    margin-right: 50px;
    display: inline;
}

.name{
    top: 0px;
    margin: 5px 0;
    margin-left: 100px;
    color: #fff;
}

.navbar{
    top: 0px;
    margin: 5px 0;
    margin-left: 1000px;
    margin-right: 50px;
    position: absolute;
}

.rules{
    height: 40px;
    width: 100%;
    max-width: 1100px;
    background-color: #E5E3E3 !important;
}


.add {
    background: url('/static/img/plus.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    position: absolute;
	border-radius: 50%;
    border: 1px;
	width: 40px;
	height: 40px;
    font-size: 40px;
    text-align: center;
}

.circle {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 1px solid #E5E3E3 !important;
}

.circle-small {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #E5E3E3 !important;
}


#change {
	background: url('/static/img/change.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
	border-radius: 50%;
    border: 1px;
    text-align: center;
}

#delete {
	background: url('/static/img/delete.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
	border-radius: 50%;
    border: 1px;
    text-align: center;
}

.pgn {
    display: inline;
    max-height: 60px !important;
    max-width: 60px !important;
}

.header{
    max-width: 1360px;
    height: 40px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#search {
    float: right;
    width: 250px;
}

.search {
    width: 230px;
    height: 30px;
    position: relative;
    left: 60px;
    float: left;
    line-height: 22px;
}

.search input {
    text-indent: 25px;
    position: absolute;
    width: 0px;
    float: right;
    margin-left: 18px;
    left: 20px
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 39px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
    background: #dddddd;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;

    
}

input:focus{
    outline: none;
}

.search:hover input, .search input:focus{
    width: 200px;
}

.btn {
    background: url('/static/img/search.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px;
	width: 40px;
	height: 40px;
    position: absolute;
    outline: none;
}

.count {
    margin-left: 900px;
    position: absolute;
}

#users, #courses{
    color: black;
    margin-left: 450px;
    position: absolute;
}

#select-btn {
    outline: none;
    height: 40px;
    width: 160px;
}

.select-btn {
    outline: none;
    width: 180px;
    height: 35px;
    text-indent: 25px;
}

input, select#id_status, .w3-dropdown-hover, #select-btn, .success, .select-btn{
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}


.user-form {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    color: #fff;
    height: 600px;
}

form#user-form {
    margin-left: 40%;
    width: 55%;
}

input, select#id_status{
    outline: none;
    width: 250px;
    height: 35px;
    text-indent: 25px;
}

.input-group {
    width: 500px;
    min-height: 57.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    text-indent: 0px;
    width: 100px;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
    color: #fff !important;
    background-color: green !important;
}

.success{
    width: 250px;
    height: 40px;
    float: right;
    font-size: 18px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid green !important;
}


i.error-message {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}



.back {
    position: absolute;
	border-radius: 50%;
    border: 1px;
	width: 40px;
	height: 40px;
    font-size: 40px;
    text-align: center;
}

.arrow-back {
    margin-bottom: 28px;
}

.addcourse {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 205px;
}

#label_course {
    display: none;
}

.selected-items
{
    width: 240px !important;
    margin-top: 30px;
}

.list-item {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
    margin: 0 auto;
}

#close {
    outline: none;
    width: 20px;
    height: 20px;
    float: right;
    background: url('/static/img/close.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
	border-radius: 50%;
    border: 1px;
    text-align: center;
}
