{% extends "index.html" %}
{% load staticfiles %}
{% load add_class %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $("#msg").delay(3000).fadeOut(0, function(){
                window.location.href = "/";
            });
        });
    </script>
    <script type='text/javascript'>
        function hide_show() {
            var add_btn = document.getElementById('add_btn');
            var label_course = document.getElementById('label_course');
            var block = document.getElementById('id_courses');
            if (block.style.display === 'none') {
                block.style.display = 'inline-block';
                label_course.style.display = 'inline-block'
                add_btn.style.marginLeft = '25px';
            } else {
                block.style.display = 'none';
                label_course.style.display = 'none'
                add_btn.style.marginLeft = '205px';
            }
        }
    </script>
{% endblock %}
{% block main %}
    <div id='courses'>
        <h3>CHANGE USER</h3>
    </div>
    <div class="rules">
        {% block rules %}
            <span class="step-links">
                <a href="{% url 'users'%}" class='back circle w3-button w3-green'>
                    <i class="arrow-back left"></i>
                </a>
            </span>
            {% if message %}
                <div id='msg' class="success input-group">
                    <b><i class="w3-text-green">{{ message }}</i></b>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="table">
        {% block table %}
            <div class='user-form'>
                <form id='user-form' action="{% url 'change' user_id %}?next=/" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group">
                            {% if field.label == 'Courses'%}
                                <i id='label_course' class='w3-text-black'>
                                    {{ field.label_tag }}
                                </i>
                                <br>
                                {{ field }}
                                <a id='add_btn' href="#" onclick="hide_show()" class='add addcourse w3-button w3-circle w3-green'></a>
                            {% else %}
                                <i class='w3-text-black'>
                                    {{ field.label_tag }}
                                </i>
                                <br>
                                {{ field }}
                            {% endif %}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                <i class="error-message w3-text-red">
                                    <strong>{{ error|escape }}</strong>
                                </i>
                                {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="input-group">
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
        {% endblock table %}
    </div>
{% endblock %}
