{% extends "index.html" %}
{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $("#msg").delay(3000).fadeOut(0, function(){
                window.location.href = "/courses/";
            });
        });
    </script>
{% endblock %}
{% block main %}
    <div id='courses'>
        <h3>CREATE COURSE</h3>
    </div>
    <div class="rules">
        {% block rules %}
            <span class="step-links">
                <a href="{% url 'courses'%}" class='back circle w3-button w3-green'>
                    <i class="arrow-back left"></i>
                </a>
            </span>
            {% if message %}
                <div id='msg' class="success">
                    <b><i class="w3-text-green">{{ message }}</i></b>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="table">
        {% block table %}
            <div class='user-form'>
                <form id='user-form' action="{% url 'create_course' %}?next=/" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group">
                            <i class='w3-text-black'>
                                {{ field.label_tag }}
                            </i> 
                            <br> {{ field }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                <i class="error-message w3-text-red">
                                    <strong>{{ error|escape }}</strong>
                                </i>
                                {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="input-group">
                        <input type="submit" value="Create" />
                    </div>
                </form>
            </div>
        {% endblock table %}
    </div>
{% endblock %}
