{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    
        <meta charset="utf-8">
        <title>My site</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Covered+By+Your+Grace" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <header class='header w3-container w3-black'>
        {% block header %}
            <div class='name'>
                Test for you
            </div>
            <nav class='navbar'>
                <ul>
                    <li>
                        <a id='nav-user' class='menu-href' href="{% url 'users' %}">Users</a>
                    </li>
                    <li>
                        <a id='nav-course' class='menu-href' href="{% url 'courses' %}">Courses</a>
                    </li>
                </ul>
            </nav>
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
</body>

</html>

{% if courses %}
    <script>
        document.getElementById("nav-course").style.color = "gray";
        document.getElementById("nav-user").style.color = "#fff";
    </script>
{% else %}
    <script>
        document.getElementById("nav-user").style.color = "gray";
        document.getElementById("nav-course").style.color = "#fff";
    </script>
{% endif %}