<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in object_list %}
    <tr>
      <td><strong>{{ user.name }}</strong></td>
      <td>{{ user.email }}</td>
      <td>{% if user.status %}
            <i class='w3-text-green'>Active</i>
          {% else %}
            <i class='w3-text-red'>Inactive</i>
          {% endif %}
      </td>
      <td>
        <div class='action'>
            <a id='change' href="{% url 'change' user.id %}" class='change circle-small w3-button w3-green'></a>
            <a id='delete' href="{% url 'delete_user' user.id %}" class='delete circle-small w3-button w3-red'></a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a class='circle w3-button w3-circle w3-green' href="?q={{ query }}&{{ page_request_var }}={{ object_list.previous_page_number }}&take={{ take }}">
                <i class="arrow left"></i>
            </a>
        {% else %}
            <a class='circle w3-button w3-circle w3-grey' href="?q={{ query }}&{{ page_request_var }}={{ object_list.number }}&take={{ take }}">
                <i class="arrow left"></i>
            </a>
        {% endif %}

        <span class="range">
            {% if object_list.paginator.num_pages <= 5 %}
                {% for page in object_list.paginator.page_range %}
                    {% if page == object_list.number %}
                    <div class='pgn'>
                        <a class='w3-button w3-circle w3-hover-green w3-green' href="?q={{ query }}&{{ page_request_var }}={{ page }}&take={{ take }}">
                            {{ page }}
                        </a>
                    </div>
                    {% else %}
                    <div class='pgn'>
                        <a class='w3-button w3-circle w3-hover-green' href="?q={{ query }}&{{ page_request_var }}={{ page }}&take={{ take }}">
                            {{ page }}
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page in object_list.paginator.page_range %}
                    {% if page >= object_list.number|add:"-2" and page <= object_list.number|add:"2" %}
                        {% if page == object_list.number %}
                        <div class='pgn'>
                            <a class='w3-button w3-circle w3-green' href="?q={{ query }}&{{ page_request_var }}={{ page }}&take={{ take }}">
                                {{ page }}
                            </a>
                        </div>    
                        {% else %}
                        <div class='pgn'>
                            <a class=' w3-button w3-circle w3-hover-green' href="?q={{ query }}&{{ page_request_var }}={{ page }}&take={{ take }}">
                                {{ page }}
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </span>

        {% if object_list.has_next %}
            <a class='circle w3-button w3-circle w3-green' href="?q={{ query }}&{{ page_request_var }}={{ object_list.next_page_number }}&take={{ take }}">
                <i class="arrow right"></i>
            </a>
        {% else %}
            <a class='circle w3-button w3-circle w3-grey' href="?q={{ query }}&{{ page_request_var }}={{ object_list.number }}&take={{ take }}">
                <i class="arrow right"></i>
            </a>
        {% endif %}
    </span>
</div>